body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font: 100% Verdana, Tahoma, Arial;

}

.top-toolbar-mini {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    height: 2vh;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
    z-index: 3;
}

.top-toolbar {
    position: fixed;
    top: 2vh;
    width: 100%;
    height: 5vh;
    background: rgba(255,255,255, 0.8);
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
    text-align: center;
    z-index: 2;
}

.toolbar-back {
    position: fixed;
    top: 2.2vh;
    left: 1.5vh;
}

.toolbar-capture {
    position: fixed;
    top: 2.2vh;
    right: 1.5vh;
}

.toolbar-title {
    line-height: 5vh;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    font-family: 'Carter One', Verdana;
}

.footer-search {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background: rgba(255,255,255, 0.8);
    box-shadow: -2px -2px 2px rgba(0,0,0, 0.3);
}

.searchGeoWrap {
    width: 66%;
    margin: 0 auto;
}

#MainPage h1 {
    font-weight: 400;
    margin: 1vh 0 0 0;
    text-align: center;
    font-size: 8em;
    letter-spacing: 0.2em;
    font-family: 'Carter One', Verdana;
    -webkit-text-stroke: 1px white;
    text-shadow: 1px 1px 1px #4477b2,
                2px 2px 1px #4477b2,
                3px 3px 1px #4477b2,
                4px 4px 1px #4477b2,
                5px 5px 1px #4477b2,
                6px 6px 1px black;
}

#logo-geopic {
    display: block;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    margin-top: 2vh;
}

/* Logo Shadow Effect */
.logoWrap::after {
    content: "";
    display: block;
    height: 2vh;
    width: 80vw;
    margin: 1vh auto 0 auto;
    background: rgba(0,0,0, 0.3);
    border-radius: 50%;
}

#btnPanel {
    margin-top: 8vh;
}

#MainPage button, #describePic button {
    margin: 0 auto;
    width: 50vw;
    padding: 2vh 2vw 2vh 2vw;
    margin-bottom: 5vh;
    font-size: 1.5em;
    border-radius: 2vh;
    background: #4477b2;
    border: 2px solid white;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#describePic button {
    margin: 1vh auto 1vh auto;    
}

#MainPage {
    background: #77dd77;
}

.ui-content {
    background: -moz-linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    background: -webkit-linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    background: -o-linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    background: linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    height: 93vh;
    max-width: 100vw;
    padding: 0;
    margin: 0; 
    padding-top: 7vh;
}


#describePic, #search{
    background: #77dd77;  
}

.photoWrap {
    width: 90vw;
    height: 65vh;
    margin: 1vh auto 0 auto;
    border: 2px solid white;
    border-radius: 15px;
    display: table;
    background: #4477b2;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.3);
}

.photoWrapCell {
    display: table-cell;
    vertical-align: middle;
    background: -moz-linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    background: -webkit-linear-gradient(bottom right, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    background: -o-linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    background: linear-gradient(left top, rgba(0,0,0, 0.3), rgba(255,255,255, 0.3));
    border-radius: 14px;
}

.photoWrap img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 86vw;
    max-height: 61vh;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#single-result .photoWrap {
    width: 90vw;
    height: 65vh;
    margin: 1vh auto 0 auto;
    border-radius: 15px;
}

.photoWrapSingle {
    width: 90vw;
    height: 77.5vh;
    margin: 1vh auto 0 auto;
    border-radius: 15px;
}

.photoWrapSingle img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 77.5vh;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.describePicWrap, .singlePhotoWrap {
    position: fixed;
    bottom: 0;
}

#searchPanel {
    padding: 0;
    margin: 0;
}

#search ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#search ul li div {
    text-align: center;
    position: absolute;
    font-size: 3em;
    width: 100vw;
    height: 14.5vh;
    line-height: 14.5vh;
    font-family: 'Carter One', Verdana;
    -webkit-text-stroke: 1px white;
    text-shadow: 1px 1px 1px #4477b2,
                2px 2px 1px #4477b2,
                3px 3px 1px #4477b2,
                4px 4px 1px #4477b2,
                5px 5px 1px #4477b2,
                6px 6px 1px black;
}

#search-food {
    top: 7vh;
    background: url('../img/food.jpg') no-repeat;
    background-size: 100% 100%;
    z-index: 1
}

#search-sports {
    top: 21.5vh;
    background: url('../img/sports.jpg') no-repeat;
    background-size: 100% 100%;
}

#search-nature {
    top: 36vh;
    background: url('../img/nature.jpg') no-repeat;
    background-size: 100% 100%;
}

#search-travel {
    top: 50.5vh;
    background: url('../img/travel.jpg') no-repeat;
    background-size: 100% 100%;
}

#search-funny{
    top: 65vh;
    background: url('../img/funny.jpg') no-repeat;
    background-size: 100% 100%;
}

#search-pets {
    top: 79.5vh;
    background: url('../img/pets.jpg') no-repeat;
    background-size: 100% 100%;
}

.masonry-grid {
    width: 100vw;
}

.grid-sizer {
    width: 30%;
}

.grid-item {
    display: block;
    float: left;
    width: 32.3%;
    margin: 0.5%;
}

.grid-item.w2 {
    max-width: 33.3%;

}

.grid-item img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.load-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0, 0.3);
    z-index: 998;
}

.load-screen img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    z-index: 999;
}

.single-photo-category-wrap {
    width: 100vw;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    position: fixed;
    bottom: 2vh;
}

.single-photo-category-header {
    width: 100% !important;
    text-align: center !important;
}
.single-photo-category {
    width: 28.9vw !important;
    margin: 0 !important;
}

@media only screen and (max-width: 375px) {
    #MainPage h1 {
        margin: 0vh 0 7.5vh 0;
        font-size: 4em;
    }
    
    #btnPanel button:first-of-type {
        margin-top: 10vh;
    }

    #btnPanel button {
        width: 75vw;
    }
    
    .top-toolbar-mini {
        height: 3vh;
    }
    .describePicWrap button {
        height: 8vh;
        font-size: 2em;
        line-height: 4vh;
        border: 11px solid black;
    }

    #photoWrap {
        margin-top: 1vh;
        height: 53vh;
    }

    #photoWrap img {
        max-height: 48vh;
    }

    .top-toolbar {
        top: 3vh;
        height: 6vh;
        line-height: 6vh;
        font-size: 1em;
        letter-spacing: 0;
    }

    .toolbar-back {
        top: 2.5vh;
        left: -0.5vh;
    }

    .toolbar-capture {
        top: 2.5vh;
        right: -0.5vh;
    }

    .ui-controlgroup .ui-btn:nth-child(4n+1) {
        clear:left;
    }

    .ui-controlgroup .ui-btn {
        margin-bottom: 2px;
    }

    #search ul li div {
        height: 14vh;
    }

    #search-food {
        top: 9vh;
    }

    #search-sports {
        top: 23vh;
    }

    #search-nature {
        top: 37vh;
    }

    #search-travel {
        top: 51vh;
    }

    #search-funny{
        top: 65vh;
    }

    #search-pets {
        top: 79vh;
    }

    .footer-search {
        height: 7vh;
    }

    .searchGeoWrap {
        margin-top: -0.5vh !important;
        width: 96%;
        margin: 0 auto;
    }

    .photoWrap {
        height: 52.5vh;
    }

    .photoWrap img {
        max-height: 50.5vh;
    }
    .single-photo-category {
        width: 23.8vw !important;
        margin: 0 !important;
    }

    .photoWrapSingle {
        margin-top: 3vh;
        height: 74vh;
    }

    .photoWrapSingle img {
        max-height: 74vh;
    }

    .masonry-grid {
        margin-top: 2.5vh;
    }
    
}